<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%logger{36}] - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="debugFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY </onMismatch>
		</filter> -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>../logs/qinghe_sms_debug.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%logger{36}] - %msg%n</Pattern>
		</layout>
	</appender>
	<appender name="warnFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY </onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>../logs/qinghe_sms_warn.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%logger{36}] - %msg%n</Pattern>
		</layout>
	</appender>
	<appender name="infoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY </onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>../logs/qinghe_sms_info.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%logger{36}] - %msg%n</Pattern>
		</layout>
	</appender>
	
	<appender name="errorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY </onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>../logs/qinghe_sms_error.%d{yyyy-MM-dd}.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%thread] [%logger{36}] - %msg%n</Pattern>
		</layout>
	</appender>
	<logger name="com.ibatis" level="DEBUG">
		<appender-ref ref="debugFile" />
	</logger>
	<logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG">
		<appender-ref ref="debugFile" />
	</logger>
	<logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG">
		<appender-ref ref="debugFile" />
	</logger>
	<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG">
		<appender-ref ref="debugFile" />
	</logger>
	<logger name="java.sql.Connection" level="DEBUG">
		<appender-ref ref="debugFile" />
	</logger>
	<logger name="java.sql.Statement" level="DEBUG">
		<appender-ref ref="debugFile" />
	</logger>
	<logger name="java.sql.PreparedStatement" level="DEBUG">
		<appender-ref ref="debugFile" />
	</logger>
	<logger name="org.springframework" level="ERROR">
		<appender-ref ref="errorFile" />
	</logger>
	<logger name="com.netflix" level="ERROR">
		<appender-ref ref="errorFile" />
	</logger>
	<logger name="org.apache" level="ERROR">
		<appender-ref ref="errorFile" />
	</logger>
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="debugFile" />
		<appender-ref ref="infoFile" />
		<appender-ref ref="errorFile" />
		<appender-ref ref="warnFile" />
	</root>
</configuration>